<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 colsm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onRegister(formRegister)">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="form-group">
                  <input  type="text" #name="ngModel" name="name" class="form-control " required
                    placeholder="Name" [(ngModel)]="user.name" required minlength="5" maxlength="10"/>
                </div>
                <div *ngIf="name.touched && !name.valid" class="alert alert-danger" role="alert">
                 <div *ngIf="name.errors.required">Name is required</div>
                 <div *ngIf="name.errors.minlength">Name must be at lease 5 characters</div>
                </div>
                <div class="form-group">
                  <input #email="ngModel"  [(ngModel)]="user.email" type="email"  name="email" class="form-control " required
                    placeholder="email" />
                </div>
                <div *ngIf="email.touched && !email.valid" class="alert alert-danger" role="alert">
                    <div *ngIf="email.errors.required">Email is required</div>
                      </div>
                <div class="form-group">
                  <input [(ngModel)]="user.password" type="password" id="password" name="password" class="form-control "
                    required placeholder="password" />
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                  Register
                </button>
                --------------------
                {{msgError}}
                <div class="form-group">
                  <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
