<section id="profile" class="container">
  <div class="row mt-5">
    <div class=" offset-lg-4col-lg-4 col-sm-6 col-12 main-section text-center card">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header">
        </div>
      </div>
      <div class="row user-details">
        <div class="col-12">
          <img src="../../../../assets/foto-perfil-1.png" class="rounded-circle img-thumbnail" alt="">
          <h5>Name User</h5>
          <p>Email user</p>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut libero quam eligendi dicta nulla hic,
            repudiandae consectetur inventore sunt maiores corrupti saepe quis earum corporis nobis quaerat ullam
            molestias non.</span>
        </div>
      </div>
    </div>
  </div>
</section>
